node_modules
dist
.DS_Store
.env
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/modules.xml
/.idea/tokenlists.iml
/.idea/vcs.xml
